{:name adzerk.boot-reload.init1081, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires {client adzerk.boot-reload.client, adzerk.boot-reload.client adzerk.boot-reload.client}, :imports nil, :cljs.analyzer/constants {:seen #{:ws-host :asset-host :on-jsload}, :order [:ws-host :asset-host :on-jsload]}}