* {
    box-sizing: border-box;
}

html, body, #app {
    height: 100%;
    width: 100%;
    margin: 0;
}

#page-wrap {
    padding-top: 5%;
}

#map {
    height: 512px;
    width: 512px;
    margin: auto;
}
